<div *ngIf="(user$ | async) as user">
	<h1 @element class="font-NexaHeavy text-3xl">Utilisateurs</h1>
	<p @element class="font-NexaHeavy">Liste des administrateurs et utilisateurs connectés à l'application.</p>

	<div @element class="mt-8">
		<div class="mb-8">
			<div class="flex items-center justify-between mb-3">
				<div class="flex items-center gap-2.5">
					<h2 class="font-NexaHeavy text-lg">Administrateurs</h2>
					<app-loader [slideInOut]="false" [isAdmin]="false" [isGuest]="false" [isUser]="false" [pending]="$pending()" [strokeWidth]="4" [size]="24" color="#4b2edb"></app-loader>
				</div>
				<app-button *ngIf="hasRole(superAdminRoles, user.role)" (onClick)="createAdmin()" type="button" appearance="flat" color="primary">
					Ajouter un administrateur
				</app-button>
			</div>
			<div class="flex flex-wrap gap-4" *ngIf="(admins$ | async) as admins">
				@for (admin of admins; track admin.uid) {
					<app-admin-card [admin]="admin"
													(userDisplay)="userDisplay($event)"></app-admin-card>
				}
			</div>
		</div>

		<div>
			<div class="flex items-center gap-2.5 mb-4">
				<h2 class="font-NexaHeavy text-lg">Utilisateurs</h2>
				<app-loader [slideInOut]="false" [isAdmin]="false" [isGuest]="false" [isUser]="false" [pending]="$pending()" [strokeWidth]="4" [size]="24" color="#4b2edb"></app-loader>
			</div>
			<div *ngIf="(usersCompanies$ | async) as usersCompanies">
				@for (userCompany of usersCompanies; track $index) {
					<app-user-table [userCompany]="userCompany"
													(deleteUsers)="deleteUsers($event.event, $event.users)"
													(userDisplay)="userDisplay($event)"></app-user-table>
				}
				<ng-container *ngIf="usersCompanies.length === 0">
					<div class="flex items-center justify-center mt-20">
						<p class="text-2xl text-slate-500 font-NexaHeavy">Aucun utilisateur inscrit</p>
					</div>
				</ng-container>
			</div>
		</div>
	</div>

	<app-user-form *ngIf="(userSelected$ | async); else adminForm"
								 [userSelected]="(userSelected$ | async)"
								 (deleteUser)="deleteUser($event.event, $event.userUID, $event.role)"></app-user-form>

	<ng-template #adminForm>
		<app-user-form [userSelected]="null"></app-user-form>
	</ng-template>
</div>
