@reference "../../style/cosmose.scss";

.hero-img {
	& img:not(.hero-icon img) {
		object-fit: cover;
		opacity: 0;
		transform: translateY(-20px);
		transition: opacity .3s ease, transform .3s ease;

		&.loaded {
			opacity: 1;
			transform: translateY(0);
		}
	}

	& img:not(.hero-icon img):nth-of-type(1) {
		width: 150px;
		height: 100px;
		left: 12rem;
		top: -7.3rem;
	}

	& img:nth-of-type(2) {
		width: 264px;
		height: 176px;
		left: 0;
		top: 0;
	}

	& img:nth-of-type(3) {
		width: 231px;
		height: 154px;
		left: 29.5rem;
		top: -3.5rem;
	}

	& img:nth-of-type(4) {
		width: 177px;
		height: 118px;
		left: 22.4rem;
		top: -6rem;
	}

	& img:nth-of-type(5) {
		width: 193px;
		height: 128px;
		left: 26rem;
		top: 13.5rem;
		z-index: 1;
	}

	& img:nth-of-type(6) {
		width: 233px;
		height: 154px;
		left: 7.9rem;
		top: 12.1rem;
	}

	& img:nth-of-type(7) {
		width: 294px;
		height: 196px;
		left: 17.5rem;
		top: 2.5rem;
	}

	& img:nth-of-type(8) {
		width: 158px;
		height: 105px;
		left: -3rem;
		top: 9.5rem;
	}

	& div {
		top: -2.3rem;
		left: 15rem;
	}
}

.hero-icon {
	opacity: 0;
	transform: translateY(-20px);
	transition: opacity .3s ease .3s, transform .3s ease .3s;

	&.loaded {
		opacity: 1;
		transform: translateY(0);
	}

	& img {
		opacity: 1;
		height: 38px;
		width: 43px;
	}
}

.divider {
	@apply relative before:absolute before:-z-10 before:top-4 before:w-full before:h-0.5 before:bg-theme-50;
}
