<div ngxMasonryItem (click)="showBlog.emit(article)" class="blog-card group">
	<div class="blog-card-header">
		<div class="absolute flex items-center bg-black/20 backdrop-blur-sm justify-center text-white h-full w-full z-20" *ngIf="(pendingPictureChange$ | async)">
			<app-loader [slideInOut]="false" [isAdmin]="true" [isUser]="false" [isGuest]="false" [pending]="true" [size]="40" [strokeWidth]="4" color="#fff" class="mt-5"></app-loader>
		</div>
		<img [src]="article.coverImage" [alt]="article.title" (load)="completePictureChange()" [height]="192" class="blog-card-picture">
	</div>
	<div class="blog-card-content">
		<p class="title">{{ article.title | firstletter }}</p>
		<p class="subtitle">{{ article.subtitle | firstletter }}</p>
		<p class="content" [style]="randomLineClamp()">{{ article.content }}</p>
		<p>Créé le {{ article.created | date: 'dd/MM/yyyy' }}</p>
	</div>
</div>
