@import "tailwindcss";

@font-face {
	font-family: Nexa-ExtraLight;
	font-display: swap;
	src: url("/assets/fonts/Nexa-ExtraLight.ttf") format("truetype");
}

@font-face {
	font-family: Nexa-Heavy;
	font-display: swap;
	src: url("/assets/fonts/Nexa-Heavy.ttf") format("truetype");
}

@theme {
	--color-theme-50: rgb(232 229 251);
	--color-theme-100: rgb(210 203 246);
	--color-theme-200: rgb(165 151 237);
	--color-theme-300: rgb(120 98 228);
	--color-theme-400: rgb(75 46 219);
	--color-theme-500: rgb(53 30 175);
	--color-theme-600: rgb(43 24 139);
	--color-theme-700: rgb(32 18 104);
	--color-theme-800: rgb(22 12 70);
	--color-theme-900: rgb(11 6 35);
	--color-theme-950: rgb(5 3 17);
	--font-Nexa: Nexa-ExtraLight, sans-serif;
	--font-NexaHeavy: Nexa-Heavy, sans-serif;
	--font-Montserrat: Montserrat, sans-serif;
}

@utility font-Nexa {
	@apply tracking-normal;
}

@utility font-NexaHeavy {
	@apply tracking-normal;
}

root {
	scrollbar-color: #e8e5fb transparent;
	scrollbar-width: thin;
}

html {
	-webkit-font-smoothing: antialiased;
}

body {
	@apply text-theme-50 font-Montserrat tracking-tight subpixel-antialiased w-screen h-full overflow-x-hidden overflow-y-auto;
}

input[type="checkbox"]:checked + label::before {
	@apply bg-theme-400 border-theme-400;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

textarea:focus, input:focus, select:focus, button:focus {
	@apply outline-0;
}

label:hover {
	@apply cursor-pointer;
}

select:hover {
	@apply cursor-pointer;
}

.container {
	@apply px-4;
}

.title-container {
	@apply flex items-center justify-between;

	& h1 {
		@apply font-NexaHeavy text-3xl;
	}

	& p {
		@apply font-NexaHeavy;
	}
}

::-webkit-scrollbar {
	@apply w-1.5 h-1.5;
}

::-webkit-scrollbar-button {
	@apply w-0 h-0;
}

::-webkit-scrollbar-thumb {
	@apply bg-[#4b2edc] border-0 rounded-[50px];
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-[#4b2edc];
}

::-webkit-scrollbar-thumb:active {
	@apply bg-[#4b2edc];
}

::-webkit-scrollbar-track {
	@apply border-0 rounded-[50px];
}

::-webkit-scrollbar-corner {
	@apply bg-transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px #e8e5fb inset !important;
}
